.input {
  visibility: hidden;
}
.labelbutton {
  position: relative;
  width: 80px;
  height: 40px;
  background: lightgray;
  border-radius: 20px;
  margin-top: 4vh;
  margin-left: -3vh;
}
.circleofbutton {
  width: 34px;
  height: 34px;
  top: 3px;
  left: 3px;
  background: white;
  background-image: url("https://i.pinimg.com/474x/0f/a5/23/0fa523e983026bfe5ebfefe3b68a1b00.jpg");
  background-size: cover; /* This ensures the image covers the entire button */
  background-position: center;
  border-radius: 50%;
  position: absolute;
  animation: toggleOff 0.4s ease forwards;
  cursor: pointer;
  box-shadow: black 2px;
}

.input:checked + .label {
  background-color: lightgray;
}
.input:checked + label .circleofbutton {
  animation: toggleOn 0.4s ease forwards;
  background-color: white;
  background-image: url("https://cdn4.vectorstock.com/i/1000x1000/75/78/sun-flat-icon-on-white-background-vector-19507578.jpg"); /* Replace 'path_to_your_image.jpg' with the actual path to your image */
  background-size: cover; /* This ensures the image covers the entire button */
  background-position: center;
  cursor: pointer;
}
@keyframes toggleOn {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(40px);
  }
}

@keyframes toggleOff {
  0% {
    transform: translate(40px);
  }
  100% {
    transform: translate(0);
  }
}

#aboutvid {
  height: 80vh;
  width: 40vh;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 20px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;

  outline: none;
}

/* 5 */
.btn-5 {
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  background: rgb(255, 27, 0);
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}
.btn-5:hover {
  color: linear-gradient(to right, #780206, #061161);
  background: transparent;
  box-shadow: none;
}
.btn-5:before,
.btn-5:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: linear-gradient(to right, #141e30, #243b55); /*after lines*/
  box-shadow: -1px -1px 5px 0px #fff, 7px 7px 20px 0px #0003,
    4px 4px 5px 0px #0002;
  transition: 400ms ease all;
}
.header-carousel-item video {
  width: 100%;
  height: auto;
}
.btn-5:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.custom-btn:hover .topbtn {
  /* Color of the text on hover */
  color: rgb(94, 89, 234); /* Change to your desired color */
}

.btn-5:hover:before,
.btn-5:hover:after {
  width: 100%;
  transition: 800ms ease all;
}
.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#servicesec {
  position: relative;
  width: 100%; /* Adjust based on your layout */
  height: 100%; /* Set the desired height for the specific division */
  overflow: hidden;
}
#background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  background: no-repeat;
  background-size: cover;
}

.content {
  position: relative;
  z-index: 1;
  color: rgb(11, 1, 1); /* Adjust text color based on your needs */
  text-align: center;
  padding: 20px;
}

/* 8 */
.btn-8 {
  background-color: #f0ecfc;
  background-image: linear-gradient(315deg, #f0ecfc 0%, #c797eb 74%);
  line-height: 42px;
  padding: 0;
  border: none;
}
.btn-8 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-8:before,
.btn-8:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: #c797eb;
  /*box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);*/
  transition: all 0.3s ease;
}
.btn-8:before {
  height: 0%;
  width: 2px;
}
.btn-8:after {
  width: 0%;
  height: 2px;
}
.btn-8:hover:before {
  height: 100%;
}
.btn-8:hover:after {
  width: 100%;
}
.btn-8:hover {
  background: transparent;
}
.btn-8 span:hover {
  color: #c797eb;
}
.btn-8 span:before,
.btn-8 span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #c797eb;
  /*box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);*/
  transition: all 0.3s ease;
}
.btn-8 span:before {
  width: 2px;
  height: 0%;
}
.btn-8 span:after {
  height: 2px;
  width: 0%;
}
.btn-8 span:hover:before {
  height: 100%;
}
.btn-8 span:hover:after {
  width: 100%;
}

/* 11 */
.custom-btn2 {
  width: 130px;
  height: 40px;
  color: #0f2027;
  border-radius: 20px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;

  outline: none;
}

.btn-11 {
  border: none;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
  color: linear-gradient(90deg, #3a47d5 0%, #00d2ff 100%);
  overflow: hidden;
  margin-left: 5vh;
}
.btn-11:hover {
  text-decoration: none;
  color: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
  background: linear-gradient(90deg, #3a47d5 0%, #00d2ff 100%);
}
.btn-11:before {
  position: absolute;
  content: "Contact";
  display: inline-block;
  top: -180px;
  left: 0;
  width: 30px;
  height: 100%;
  background-color: #4242ad;
  animation: shiny-btn1 3s ease-in-out infinite;
}
.btn-11:hover {
}
.btn-11:active {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.3),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
}

@-webkit-keyframes shiny-btn1 {
  0% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  80% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }
  81% {
    -webkit-transform: scale(4) rotate(45deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}

/* 12 */
.btn-12 {
  position: relative;
  right: 20px;
  bottom: 20px;
  border: none;
  box-shadow: none;
  width: 130px;
  height: 40px;
  line-height: 42px;
  -webkit-perspective: 230px;
  perspective: 230px;
  margin-top: 30px;
}
.btn-12 span {
  display: block;
  position: absolute;
  width: 130px;
  height: 40px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.darkbutton {
  background: rgb(0, 172, 238);
  background: linear-gradient(
    0deg,
    rgba(0, 172, 238, 1) 0%,
    rgba(2, 126, 251, 1) 100%
  );
}

.lightbutton {
  background: #141e30;
  background: linear-gradient(0deg, #141e30 0%, #243b55 100%);
}
.btn-12 span:nth-child(1) {
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-12 span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-12:hover span:nth-child(1) {
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.btn-12:hover span:nth-child(2) {
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}
